mixin dropdown(name)
    .dropdown(name=`${name}`)
        .dropdown__status
            p text
            button
        .dropdown__options
            .dropdown__option Спальни
            .dropdown__option Спальни
            .dropdown__option Спальни
            .dropdown__option Спальни

