mixin rateButton
    .rate-button
        .rate-button__star(data-rate="1")
        .rate-button__star(data-rate="2")
        .rate-button__star(data-rate="3")
        .rate-button__star(data-rate="4")
        .rate-button__star(data-rate="5")
